body{
    background-color: rgb(0, 0, 0);
     color: green;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     margin: 0px;
     text-align: center;
   
   }
   
   header {
     background-color: yellowgreen
   }
   
   nav {
     background-color: yellowgreen;
     display: flex;
     justify-content: center;
    
   }
   
   nav a{
      text-decoration: none;
      color: black
     
   }
   
   nav a:hover{
       cursor: crosshair;
       text-decoration: none;
       color: aquamarine
    }
   
    section {
   
       margin: 20px 0;
   
       }
   
   footer {
     background-color: yellowgreen;
     color: green;
     position: fixed;
     bottom: 0x;   
     width: 100%;
   }
   
   .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
   }

   .imag-hab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    justify-items: center;
   }

   .imag-hab {
   max-width: 100%;
   height: auto;
   border-radius: 100%;
   box-shadow: 0 0 15px rgba (green);
   transition: transform 0,3s ease;
   }
   
   .container figure {
    position: relative;
    overflow: hidden;
    border-radius: 5px; /* Adicionando borda arredondada */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

 .container img{
    width: 10%;
    height: auto;
    transition: transform 0.3s ease;
}

.container figure :hover ::after {
    opacity: 0,5;
}
 

   
   
   
   
   